@tailwind base;
@tailwind utilities;
@tailwind screens;

body {
	@apply font-serif text-black leading-normal;
}

body::after {
	@apply visuallyhidden;

	content: 'root';
}

@screen sm {
	body::after {
		content: 'sm';
	}
}

@screen md {
	body::after {
		content: 'md';
	}
}

@screen lg {
	body::after {
		content: 'lg';
	}
}

@screen xl {
	body::after {
		content: 'xl';
	}
}

a {
	@apply text-blue-900;

	text-decoration: none;
}

img,
svg {
	display: block;
}

img {
	max-width: 100%;
	height: auto;
}
